.cardOuter {
  width : 100%;
  height : 100%;
  background-color: #fdd127;
  border-radius: 20%;
  display: flex;
  justify-content: center;
  align-items: center;

  .cardInner {
    width: 85%;
    height: 85%;
    background-color: white;
    border-radius: 20%;
    display: flex;
    justify-content: center;
    align-items: center;

    .cardText {
    }
  }
}
