.FameText{
    position : absolute;
    display : flex;
    justify-content: flex-start;
    align-items: center;
    gap : 4vw;
    top : 0.5%;
    left : 28%;
    width : 44%;
    height : 7.5%;
    z-index : 10;

    img{
        width : 10%;
        height : 80%;
    }
    span{
        font-size: 2vw;
        color : #00AA6D;
        font-weight: bold;
        letter-spacing:0.7vw;
        line-height: normal;
        font-size: calc((2vh + 2vw)/2);
        cursor: url("/smile-star-hover.svg") 30 30, auto;
    }
}

.FameBtn{
    position : absolute;
    top : 0.5%;
    left : 27%;
    width : 44%;
    height : 7.5%;
    background-color: rgba(115, 238, 194, 0.302);
    border-collapse: collapse;
    
    
    td{
        border : 2px solid white;
    }
}