.LevelJellyBtn{
    position : relative;
    width : 100%;
    height : 100%;

    .LevelJellyBtnTop{
        width : 100%;
        height : 100%;
        position : absolute;
        top : 0;
        left : 0;
        box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
        border-radius: 150px;
        background : #FFD6E0;
        z-index: 20;
        display : flex;
        justify-content: center;
        align-items: center;
        font-weight: bold;
        font-size : calc((5vw + 5vh)/2);
    }

    .LevelJellyBtnBottom{
        width : 100%;
        height : 100%;
        position : absolute;
        top : 10px;
        left : 0;
        box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25);
        border-radius: 150px;
        background : #E07A93;
        z-index : 10;
    }
    .LevelJellyBtnDot{
        position : absolute;
        top : 30%;
        left : 10%;
        width : 20%;
        height :10%;
        border-radius: 50%;
        transform : rotate(-37.47deg);
        transform-origin: 0 0;
        background-color: white;
        z-index: 25;
    }

    .LevelJellyBtnDot2{
        position : absolute;
        top : 15%;
        left : 30%;
        width : 15%;
        height :6%;
        border-radius: 50%;
        transform : rotate(-32.10deg);
        transform-origin: 0 0;
        background-color: white;
        z-index: 25;
    }
}

.LevelJellyBtnHover{
    position : absolute;
    display : flex;
    width : 100%;
    height : 100%;
    z-index: 20;
}