.hehe {
  position: absolute;
  top: 25vh;
  left: 40vw;
  width: 20vw;
  height: 30vh;
  z-index: 10;
}

.normalGameContainer {
  position: absolute;
  top: 13vh;
  left: 5vw;
  width: 25vw;
  height: 40vh;
  z-index: 0;
  cursor: url("/smile-star-hover.svg") 30 30, auto;
  text-align: center;
}

.normalGame {
  width: 100%;
  height: 100%;
  z-index: 0;
}

.normalGameText {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: calc(3.12vw + 3.12vh);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
  text-shadow: -5px -5px black;
}

.normalGameContainer:hover .normalGameText {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.1);
}

.rankGameContainer {
  position: absolute;
  top: 12vh;
  right: 1vw;
  width: 28vw;
  height: 40vh;
  z-index: 10;
  cursor: url("/smile-star-hover.svg") 30 30, auto;
  text-align: center;
}

.rankGame {
  width: 100%;
  height: 100%;
  z-index: 10;
}

.rankGameText {
  position: absolute;
  top: 48%;
  left: 55%;
  transform: translate(-50%, -50%);
  font-weight: bold;
  font-size: calc(3.1vw + 3.1vh);
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  pointer-events: none;
  text-shadow: -5px -5px black;
}

.rankGameContainer:hover .rankGameText {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1.1);
}

.speechBubbleContainer {
  position: absolute;
  top: 9vh;
  left: 38vw;
  width: 24vw;
  height: 15vh;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: 24vw;
    height: 15vh;
  }

  .speechText {
    position: absolute;
    text-align: center;
    font-size: calc(1vw + 1vh);
    font-weight: bold;
    width: 100%;
  }
}
