.MainMenuBtn {
  position: absolute;
  cursor: pointer;

  .MainMenuBtnHover {
    width: 4vw;
    height: 6vh;
    justify-content: center;
    align-items: center;
    z-index: 20;
    position: relative;
  }

  .MainMenuBtnTop {
    width: 4vw;
    height: 6vh;
    position: absolute;
    background-color: #fffdd6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100%;
    z-index: 20;
  }

  .MainMenuBtnDot1 {
    width: 1vw;
    height: 1vh;
    top: 2vh;
    position: absolute;
    transform: rotate(-13.13deg);
    transform-origin: 0 0;
    background-color: black;
    border-radius: 1vw;
    z-index: 20;
  }

  .MainMenuBtnDot2 {
    width: 0.5vw;
    height: 0.5vh;
    position: absolute;
    left: 1vw;
    top: 1vh;
    transform: rotate(-13.13deg);
    transform-origin: 0 0;
    background-color: black;
    border-radius: 1vw;
    z-index: 20;
  }

  img {
    width: 2vw;
    height: 2vw;
    left: 1vw;
    top: 1vh;
    position: absolute;
    z-index: 20;
  }
}

.MainMenuBtnBottom {
  width: 4vw;
  height: 6vh;
  top: 0.6vh;
  position: absolute;
  background-color: #d2c372;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  z-index: 10;
}
