.MainMenuBtn {
  position: absolute;
  cursor: pointer;

  .MainMenuBtnHover {
    width: 10vw;
    height: 17vh;
    justify-content: center;
    align-items: center;
    z-index: 20;
    position: relative;
  }

  .MainMenuBtnTop {
    width: 10vw;
    height: 17vh;
    position: absolute;
    background-color: #fffdd6;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 100%;
    z-index: 20;
  }

  .MainMenuBtnDot1 {
    width: 1.5vw;
    height: 1.5vh;
    left: 1vw;
    top: 4vh;
    position: absolute;
    transform: rotate(-30deg);
    transform-origin: 0 0;
    background-color: white;
    border-radius: 1vw;
    z-index: 20;
  }

  .MainMenuBtnDot2 {
    width: 1vw;
    height: 1vh;
    position: absolute;
    left: 3vw;
    top: 1.5vh;
    transform: rotate(-13.13deg);
    transform-origin: 0 0;
    background-color: white;
    border-radius: 1vw;
    z-index: 20;
  }

  img {
    width: 7vw;
    height: 7vw;
    left: 1.5vw;
    top: 1.5vh;
    position: absolute;
    z-index: 20;
  }
}

.MainMenuBtnBottom {
  width: 10vw;
  height: 17vh;
  top: 1vh;
  position: absolute;
  background-color: #d2c372;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 100%;
  z-index: 10;
}
