.profile{
    width: 40vw;
    height: 32vh;
    background : rgba(255, 255, 255, 0.8);
    border-radius: 29px;
    position : absolute;
    bottom : 3vh;
    left : 30vw;
    display : flex;
    cursor: url("/smile-star-hover.svg") 30 30, auto;


    .pictureBox{
        width : 45%;
        height : 100%;
        padding : 5%;
        padding-left : 7%;
        box-sizing: border-box;
    
        img{
            width : 90%;
            height : 90%;
            border-radius: 50px;
            border : 6px solid #15EA9D;
        }
    }

    .profileInfo{
        width : 55%;
        height : 100%;
        box-sizing: border-box;
        display : flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-right : 5%;


        img{
            width : 100%;
            height: 40%;
        }

        .nickname{
            font-size: calc((4vw + 1vh)/2);
        }
        .games{
            font-size: calc((1vw + 2vh)/2);
        }
        .avatar{
            font-size: calc((1vw + 2vh)/2);
        }
    }
}

.ExpBar{
    display :flex;
    width : 100%;
    height : 20%;
    align-items: center;
    gap : 3%;
}
