.podium {
  position: absolute;

  img {
    width: 50vw;
    height: 35vh;
  }

  .face1 {
    display: flex;
    position: absolute;
    width: calc((14vw + 14vh)/2);
    height: calc((14vw + 14vh)/2);
    border-radius: 50%;
    overflow: hidden;
    bottom: 40vh;
    left: 50%;
    transform: translateX(-50%);
    z-index: 30;

    img {
      z-index: 30;
      height : auto;
    }
  }

  .face2 {
    display: flex;
    position: absolute;
    width: calc((12vw + 12vh)/2);
    height: calc((12vw + 12vh)/2);
    border-radius: 50%;
    overflow: hidden;
    bottom: 30vh;
    animation: shine 2s infinite;
    left: 15%;
    transform: translateX(-50%);
    z-index: 30;

    img {
      z-index: 30;
      height : auto;
    }
  }

  .face3 {
    display: flex;
    position: absolute;
    width: calc((10vw + 10vh)/2);
    height: calc((10vw + 10vh)/2);
    border-radius: 50%;
    overflow: hidden;
    animation: shine 2s infinite;
    left: 85%;
    bottom: 20vh;
    transform: translateX(-50%);
    z-index: 30;

    img {
      z-index: 30;
      height : auto;
    }
  }
}

.info {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 13vw;
  height: 10vh;
  color: black;
  font-weight: 800;
  z-index: 30;
  font-size: calc((2vw + 2vh)/2);

  .info1 {
    left: 43.5vw;
    // top: 80vh;
    top: 73vh;
    border-radius: 1vw;
  }

  .info2 {
    left: 26vw;
    top: 73vh;
    border-radius: 1vw;
  }

  .info3 {
    left: 61vw;
    top: 73vh;
    border-radius: 1vw;
  }
}

.light1 {
  position: absolute;
  top: -17vh;
  left: 50%;
  transform: translateX(-50%);
  width: 11vw;
  height: 18vh;
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 0, 0.8),
    rgba(255, 255, 255, 0)
  );
  opacity: 0.6;
}

.light2 {
  position: absolute;
  top: -1vh;
  left: 15%;
  transform: translateX(-50%);
  width: 9vw;
  height: 15vh;
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 0, 0.8),
    rgba(255, 255, 255, 0)
  );
  opacity: 0.6;
}

.light3 {
  position: absolute;
  top: 11vh;
  left: 85%;
  transform: translateX(-50%);
  width: 7vw;
  height: 10vh;
  background: radial-gradient(
    circle at center,
    rgba(255, 255, 0, 0.8),
    rgba(255, 255, 255, 0)
  );
  opacity: 0.6;
}
