.talkBalloonContainer {
  position: relative;
  display: inline-block;
  z-index: 70;
}

.talkBalloonImage {
  display: block;
}

.talkBalloonText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #333;
  font-size: 1vw;
  font-weight: bold;
  text-align: center;
  pointer-events: none;
}
