// .background {
//     background-color: red;
// }

.profileList {
    position: absolute;
    display: flex;
    top: 1.9%;
    left: 41%;
    margin-right: 5%;
    gap: 4.4vw;
    align-items: center;
    justify-content: flex-start;
    z-index: 2;
    // background-color: aqua;
}
