.section {
    width: 100%;
    height: 100%;
    // overflow: hidden;
    position: relative;
}

.boardImg {
    // float: right;
    left :84%;
    top: 19%;
    margin-top: 4.4%;
    margin-right: 4%;
    width: auto; /* 너비를 자동으로 설정 */
    height: auto; /* 높이를 자동으로 설정 */
    max-width: 100%; /* 화면 크기를 넘어가지 않도록 설정 */
    position: absolute;
    z-index: 5;
}

.data {
    position: absolute;
    width: 53%;
    height: 70%;
    top: 19%; /* boardImg의 top과 일치시킵니다 */
    left: 84%; /* boardImg의 left와 일치시킵니다 */
    transform: translate(-50%, 0); /* 보정: 중앙정렬과 겹치기 */
    z-index: 6; /* boardImg보다 높은 z-index 설정 */
    background-color: transparent; /* 배경색을 투명으로 설정 */
    
}

.characterSection {
    margin-top: 2%;
    width: 42%;
    height: 79%;
    left: 1%;
    // overflow: hidden;
    position: absolute;
    z-index: 7;
    bottom: 7%;
    // background-color: red;

    .bubble {
        width: 60%;
        height: 46%;
        float: right;
        margin-right: 8%;
    
    }
}

.character {
    width: 61%;
    position: absolute;
    bottom: 0;
}