.container {
  z-index: 30;
  flex-direction: column;
  position: relative;
  display: flex;
  img {
    cursor: url("/smile-star-hover.svg") 30 30, auto;
    width: 25vw;
    height: 10vh;
    z-index: 30;
    margin: 3vh;
  }
}
