.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 10;
}
.inputContainer {
  display: flex;
  align-items: center;
}
.idInput {
  display: block;
  width: 25vw;
  height: 10vh;
  margin: 2vh;
  background-color: #fcf6bd;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2vw;
  text-align: center;
  font-size: 1.5vw;
  border-width: 0;

  &::placeholder {
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
    color: #f48400;
  }
}

.pwInput {
  display: block;
  width: 25vw;
  height: 10vh;
  margin: 2vh;
  background-color: #ffd6e0;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 2vw;
  text-align: center;
  font-size: 1.5vw;
  border-width: 0;
  &::placeholder {
    font-size: 1.5vw;
    font-weight: bold;
    text-align: center;
    color: #df3089;
  }
}

.loginBtn {
  width: 10vw;
  height: 85%;
  color: #05559d;
  font-weight: bold;
  background-color: #a2d2ff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.25);
  border-radius: 3vw;
  font-size: 2vw;
  border-width: 0;
  cursor: pointer;
}

.infoText {
  width: 100%;
  height: 10%;
  margin-top: 2vh;
  text-align: center;
  font-size: 1.2vw;
  left: 6vw;
}

.loginModal{
  position : absolute;
  z-index: 40;
  width : 100%;
  height : 100%;
  display : flex;
  justify-content: center;
  top : 20%;

  .textBox{
    position : relative;
    display : flex;
    width : 100%;
    height : 100%;
    flex-direction: column;
    align-items: center;

    .text1{
      font-weight: bold;
      font-size : calc((3vw + 3vh)/2);
      color : red;
      margin-top : 7%;
    }

    .text2{
      font-weight: bold;
      font-size : calc((2vw + 2vh)/2);
      margin-top : 5%;
    }

    .text3{
      font-weight: bold;
      font-size : calc((3vw + 3vh)/2);
      color : blue;
      margin-top : 7%;
    }

    .btn{
      display : flex;
      justify-content: center;
      align-items: center;
      width : 100%;
      height : 50%;
    }
  }
}