.CorrectMain {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  z-index: 100;

  .graph {
    position: relative;
    width: 45%;
    height: 70%;
    left: 20%;
    margin-top: 8%;
    border-radius: 40px;
    box-sizing: border-box;
    z-index: 100;
  }

  .levelBtn {
    position: absolute;
    display: flex;
    right: 15%;
    bottom: -12vh;
    width: 30%;
    height: 20%;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
  }
}
