.section {
  width: 100%;
  height: 100%;
  position: relative;
}

.statisticMonitor {
  position: absolute;
  top: 11.5%;
  left: 43.2%;
  width: 53.7%;
  height: 67%;
  z-index: 7;
}

.data {
  position: relative;
  z-index: 6;
}

.boardImg {
  left: 44%;
  margin-top: 4.4%;
  margin-right: 4%;
  width: calc(30vw + 50vh);
  height: calc(15vw + 40vh);
  max-width: 100%;
  position: absolute;
  z-index: 5;
}

.characterSection {
  margin-top: 2%;
  width: 42%;
  height: 79%;
  left: 3%;
  position: absolute;
  z-index: 7;
  bottom: 7%;

  .bubble {
    width: 60%;
    height: 46%;
    float: right;
    margin-right: 8%;
  }
}

.character {
  width: 61%;
  position: absolute;
  bottom: 0;
}
