.main{
    position : absolute;
    width : 100vw;
    height : 100vh;
    top : 0;
    left : 0;
    z-index: 19;
    
    .publish{
        position : absolute;
        bottom : 0px;
        right : 1vw;
    }

    .subscriber{
        position : absolute;
        bottom : 0px;
        left : 1vw;
    }

}