.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9998;
    backdrop-filter: blur(7px);
}

.modalBg {
    position: fixed;
    top: 51%;
    left: 49.55%;
    transform: translate(-50%, -50%);
    background-color: rgba(252, 246, 189, 1);
    width: 49vw;
    height: 75vh;
    border-radius: 2vw;
    z-index: 9998;
    box-shadow: -0.4vw 0.5vw 0.5vw 0 rgba(0, 0, 0, 0.299);
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(252, 246, 189, 1);
    width: 45vw;
    height: 67vh;
    border-radius: 2vw;
    z-index: 9998;
    padding: 2vw;
    box-shadow: -0.4vw 0.5vw 0.5vw 0 rgba(0, 0, 0, 0.299);
}


.modalContent {
    display: flex;
    flex-direction: column;
    position: relative;

    .ufo {
        position: absolute;
        margin-top: 37vh;
        margin-left: 11vw;
        width: 17vw;
        height: 28vh;
        z-index: 1;

    }

    .planet {
        position: absolute;
        margin-top: 3vh;
        margin-left: 26vw;
        width: 18vw;
        height: 28vh;
        z-index: 2;

    }

    .star {
        position: absolute;
        margin-top: 3vh;
        margin-left: 0.7vw;
        width: 12vw;
        height: 22vh;
        z-index: 3;

    }

    .closeButton {
        margin-left: 42vw;
        margin-top: 0;
        width: 3vw;
        height: auto;
    }

    .inputTotal {
        margin-top: 5%;
        margin-bottom: 10%;
        z-index: 4;

    }

    .inputContainer {
        display: flex;
        align-items: center;
        z-index: 9999;
    }

    .box {
        width: 25vw;
        height: 9.2vh;
        background-color: rgb(255, 255, 255);
        margin-left: -5vh;
        margin-right: 4vh;
        margin-bottom: 2.3vh;
        outline: none;
        border-width: 0;
        border-radius: 1.5vw;
        box-shadow: -4px 6px 6px rgba(153, 153, 153, 0.727);
        font-size: 2vw;
        line-height: 1.5;
        padding-left: 1.5vw;
        padding-right: 1.5vw;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: bold;
    }

    .detailBox {
        position: relative;
        bottom: 0;
        margin-left: 4vh;
        margin-bottom: 2vh;
        width: 17.5vw;
        height: 10vh;

    }


    .generateBoxContainer {
        position: absolute;
        bottom: 0;
        z-index: 9999;
        margin-bottom: 2vh;
        width: 17.5vw;
        height: 10vh;
        top: 86%;
        left: 97%;
        transform: translate(-50%);
    }


    h2 {
        position: absolute;
        color: rgba(255, 139, 0, 1);
        font-size: 2.8vw;
        font-weight: 900;
        text-align: center;
        z-index: 9998;
        margin-top: 0;
        left: 50%;
        transform: translateX(-50%);
    }

}