.NormalGameMain{
    width: 100%;
    height: 100%;
    display : flex;
    flex-direction: column;
    padding-top: 2%;
    gap : 2%;

    .header{
        display :flex;
        justify-content: space-between;
        z-index : 20;
    }

    .NormalGameTitle{
        color : #FF8B00;
        font-weight: bold;
        font-size: calc((5vw + 5vh)/2);
    }
}

.GameJelly{
    width: 100%;
    height: 50%;
    display : flex;
    justify-content: center;
    gap: 5%;

    .Btn{
        width :27%;
        height : 100%;
    }
}

.LevelJellyBtn{
    display : flex;
    height : 30%;
    width : 100%;
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    padding-left : 5%;
    padding-right : 5%;
    cursor : pointer;

    .LevelBtn{
        width : 13%;
        height : 65%;
    }

}