.NormalGameMain{
    width: 100%;
    height: 100%;
    display : flex;
    flex-direction: column;
    padding-top: 2%;
    gap : 2%;

    .NormalGameTitle{
        text-align: center;
        color : #FF8B00;
        font-weight: bold;
        font-size: calc((5vw + 5vh)/2);
    }
}

.GameJelly{
    width: 100%;
    height: 100%;
    display : flex;
    justify-content: center;
    gap: 5%;

    .Btn{
        width :27%;
        height : 60%;
    }
}