.constellation1 {
  left: 88vw;
  bottom: 45vh;
  width: 12vw;
  position: absolute;
  z-index: 10;
}
.constellation2 {
  left: 60vw;
  bottom: 67vh;
  width: 9vw;
  position: absolute;
  z-index: 10;
}
.constellation3 {
  left: 25vw;
  bottom: 60vh;
  width: 12vw;
  position: absolute;
  z-index: 10;
}
