.rocket {
  bottom: 14vh;
  left: 15vw;
  width: 12vw;
  position: absolute;
  z-index: 10;
}
.planet {
  width: 100%;
  left: 0;
  bottom: 0;
  position: absolute;
  z-index: 0;
}

.TV{
  position : absolute;
  bottom : 0;
  right : 0;
  width : 20%;
  height : 35%;
}