.statisticBg {
    width: 100vw;
    height: 100vh;

    .statisticBgGround {
        position: absolute;
        top: 78vh;
        left: 0;
        width: 100vw;
        height: 30vh;
        z-index: 2;
    }

    .statisticBgStars {
        position: absolute;
        top: 1vh;
        left: 0;
        width: 88vw;
        height: 89vh;
        z-index: 1;
    }

    .statisticBgPlanet {
        position: absolute;
        top: 17vh;
        left: 75vw;
        width: 20vw;
        height: auto;
        z-index: 4;
    }

    .statisticBgConsole {
        position: absolute;
        top: 82%;
        left: 57vw;
        width: 7vw;
        height: auto;
        z-index: 4;
    }

}