.gameContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70vw;
  background-color: #ffffff;
  border-radius: 1vw;
}

.resultText {
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #333;
}

.nextHintButton {
  margin-top: 1rem;
  padding: 0.5rem 1.5rem;
  font-size: 1rem;
  cursor: url("/smile-star-hover.svg") 30 30, auto;
  border: 1px solid #ccc;
  background-color: #4caf50;
  color: white;
  transition: background-color 0.3s;
  border-radius: 5px;

  &:hover {
    background-color: #45a049;
  }

  &:active {
    background-color: #388e3c;
  }
}
