.GameStartBtn {
  position: relative;
  justify-content: center;
  z-index: 20;
  left: 45%;
  top: 20%;

  .GameStartBtnTop {
    width: 20vw;
    height: 5vh;
    left: 0;
    top: 5px;
    position: absolute;
    text-align: center;
    color: #fdd127;
    font-size: 5vw;
    font-weight: 400;
    word-wrap: break-word;
    z-index: 20;
  }

  .GameStartBtnBottom {
    width: 20vw;
    height: 5vh;
    left: 3px;
    top: 0;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 5vw;
    font-weight: 400;
    word-wrap: break-word;
    z-index: 20;
  }
}
