body {
  margin: 0;
  background-color: #040f36;
  width: 100vw;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
  /* position: relative; */
  user-select: none;
  -webkit-user-drag: none;
}

