.header {
  background-color: white;
  display: flex;
  justify-content: flex-end;
  background-color: #040f36;
  width: 100vw;
  /* border: 1px solid white; */
  height: 5vh;
}

.header img {
  height: 5vh; /* 이미지의 높이를 적절히 조절 */
  margin: 0.5vw;
}
