.BackScoreBtn {
  text-align: center;
  align-items: center;
  position: absolute;
  font-weight: 800;
  cursor: pointer;
  font-size: 1.2vw;

  .BackScoreBtnTop {
    left: 0.2vw;
    top: 0px;
    width: 8vw;
    height: 4vh;
    position: absolute;
    background-color: #fcf6bd;
    box-shadow: -10px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3vw;
    z-index: 20;
  }

  .BackScoreBtnBottom {
    left: 0px;
    top: 0.5vh;
    width: 8vw;
    height: 4vh;
    position: absolute;
    background-color: #fcf6bd;
    box-shadow: -10px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3vw;
    z-index: 10;
  }

  img {
    width: 1.5vw;
    left: 0.1vw;
    top: 0.1vh;
    position: absolute;
    z-index: 20;
  }
}
