.BackScoreBtn {
  text-align: center;
  align-items: center;
  position: absolute;
  font-weight: 800;
  font-size: calc((3vw + 2vh)/2);
  box-sizing: border-box;

  .BackScoreBtnTop {
    left: 0.2vw;
    top: 0px;
    width: 13vw;
    height: 9vh;
    position: absolute;
    background-color: #fcf6bd;
    box-shadow: -10px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3vw;
    z-index: 20;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .BackScoreBtnBottom {
    left: 0px;
    top: 0.5vh;
    width: 13vw;
    height: 9vh;
    position: absolute;
    background-color: #fcf6bd;
    border-radius: 3vw;
    z-index: 10;
  }

  img {
    width: 2vw;
    height : 4vh;
    z-index: 20;
    position : absolute;
    left : 0.5vw
  }
}
