.YellowRoundBtn {
  text-align: center;
  align-items: center;
  position: relative;
  font-weight: 800;
  .YellowRoundBtnTop {
    left: 0.2vw;
    top: 0px;
    width: 8vw;
    height: 4vh;
    position: absolute;
    background-color: #fcf6bd;
    box-shadow: -10px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3vw;
    z-index: 20;
  }

  .YellowRoundBtnBottom {
    left: 0px;
    top: 0.5vh;
    width: 8vw;
    height: 4vh;
    position: absolute;
    background-color: #fcf6bd;
    box-shadow: -10px 10px 4px rgba(0, 0, 0, 0.25);
    border-radius: 3vw;
    z-index: 20;
  }
}
